@{
    ViewData["Title"] = "Menu";
}

<section id="menu" class="py-5 text-center bg-light">
    <div class="container">
        <h2>Our Menu</h2>
        <ul class="list-unstyled">
            <li>Grilled Salmon</li>
            <li>Classic Cheeseburger</li>
            <li>Margherita Pizza</li>
            <li>Caesar Salad</li>
        </ul>
    </div>
</section>
